@model User
    <head>
        <title>Cedar Dashboard</title>
    </head>
<h1 class="split">@Model.RestaurantName</h1>
<a href="logout" class="split"><button>Logout</button></a>
<hr>
<a href="categories" class="split"><button><h2>View Categories</h2></button></a>
<a href="foods" class="split"><button><h2>View Foods</h2></button></a>
<br>
<h1>POS Interfaces</h1>
<a href="pos/kitchen" class="split"><button><h2>Kitchen Tablet</h2></button></a>
<a href="pos/kiosk" class="split"><button><h2>Kiosk Tablet</h2></button></a>
