@model FoodDashboard
    <head>
        <title>Cedar Dashboard</title>
    </head>
<a href="logout" class="split"><button>Logout</button></a>
<hr>
<a href="foods/new" class="split"><button><h2>New Food</h2></button></a>
<br>