<link rel="stylesheet" href="~/css/Materia.css" />
<h1>Cedar Login</h1>
<div class="split">
    <partial name="Login"></partial>
</div>
<div class="split">
    <partial name="Register"></partial>
</div>