@model FoodItem
<h1>New Food</h1>
<br>
<form asp-action="NewFood" asp-controller="Home" method="post">
    <br>
    <span asp-validation-for="Name"></span>
    <br>
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <br>
    <span asp-validation-for="Description"></span>
    <br>
    <label asp-for="Description"></label>
    <input asp-for="Description">
    <br>

    <input value="Create" type="submit">
</form>